<ion-view view-title="Financial Times">
	<ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon" ng-class="!sliderStatus?'ion-ios-play-outline' : 'ion-ios-pause-outline'" ng-click="toggleSliderStatus()">
      </button>
    </div>
  </ion-nav-buttons>
  	<ion-content>
	  	<ion-slide-box auto-play="true" does-continue="true" delegate-handle="news-viewer" show-pager=false>
		  <ion-slide >
		    <div class="box" ng-repeat="news in financialNew.fiancialNewsObj.articles">
		    	<div class="list card">
					<div class="item item-avatar">
						<img ng-src="img/ft-news.png">
						<h2>{{news.title}}</h2>
						<p>Source: Financial Times</p>
					</div>
					<div class="item item-body">
						<img style="max-width:250px;height:auto;" ng-src="{{news.urlToImage}}">
						<p>{{news.description}}</p>
						<p>
							<!-- <a href="#" class="subdued">Source: {{headlines.latestnewsObj.source == 'the-times-of-india'?'Time Of India':N/A}}</a> -->
							<!-- <a href="#" class="subdued">{{headlines.latestnewsObj.source}}</a> -->
						</p>
					</div>
				</div>	
		    </div>
		  </ion-slide>  
		</ion-slide-box>
  </ion-content>
</ion-view>
