<ion-view view-title="Trending News">
	<ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon" ng-class="sliderStatus?'ion-ios-play-outline' : 'ion-ios-pause-outline'" ng-click="toggleSliderStatus()">
      </button>
    </div>
  </ion-nav-buttons>
  	<ion-content>
	  	<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" delegate-handle="news-viewer">
		  <ion-slide ng-repeat="news in headlines.latestnewsObj.articles">
		    <div class="box">
		    	<div class="list card">
					<div class="item item-avatar">
						<img src="img/ionic.png">
						<h2>{{news.title}}</h2>
						<p>November 05, 1955</p>
					</div>
					<div class="item item-body">
						<img class="full-image" ng-src="{{news.urlToImage}}">
						<p>{{news.description}}</p>
						<p>
							<a href="#" class="subdued">1 Like</a>
							<a href="#" class="subdued">5 Comments</a>
						</p>
					</div>
				</div>	
		    </div>
		  </ion-slide>
		  
		 <!--  <ion-slide>
		    <div class="box">
		    	<div class="list card">
					<div class="item item-avatar">
						<img src="img/ionic.png">
						<h2>Vipin</h2>
						<p>November 05, 1955</p>
					</div>
					<div class="item item-body">
						<img class="full-image" src="delorean.jpg">
						<p>
						This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
						the content is from a card-body consisting of an image and paragraph text. The footer
						consists of tabs, icons aligned left, within the card-footer.
						</p>
						<p>
							<a href="#" class="subdued">1 Like</a>
							<a href="#" class="subdued">5 Comments</a>
						</p>
					</div>
				</div>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box">
		    	<div class="list card">
					<div class="item item-avatar">
						<img src="img/ionic.png">
						<h2>Marty McFly</h2>
						<p>November 05, 1955</p>
					</div>
					<div class="item item-body">
						<img class="full-image" src="delorean.jpg">
						<p>
						This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
						the content is from a card-body consisting of an image and paragraph text. The footer
						consists of tabs, icons aligned left, within the card-footer.
						</p>
						<p>
							<a href="#" class="subdued">1 Like</a>
							<a href="#" class="subdued">5 Comments</a>
						</p>
					</div>
				</div>
		    </div>
		  </ion-slide> -->
		</ion-slide-box>
  </ion-content>
</ion-view>
