/* Empty. Add your own CSS if you like */

.item-body p {
	margin-top:	0px !important;
}

.full-image {
	max-height: 200px !important;
    min-height: 150px !important;
}

.item-body p {

    font-size: medium;
}
